<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949191680600-ke3a7bg5r8s55371aurn1mlm16v76iam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949191680600-ke3a7bg5r8s55371aurn1mlm16v76iam</string>
	<key>API_KEY</key>
	<string>AIzaSyA79j6idgmjFbjaMvphwg4uzsKrIT_Mwcc</string>
	<key>GCM_SENDER_ID</key>
	<string>949191680600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.gtpn.yonten</string>
	<key>PROJECT_ID</key>
	<string>tashi-learn</string>
	<key>STORAGE_BUCKET</key>
	<string>tashi-learn.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949191680600:ios:e209ef4099af11f474e02d</string>
</dict>
</plist>